**
!.dockerignore
!Dockerfile
!LICENSE
!requirements.txt

!app/
app/*
!app/*.py
!app/VERSION
app/test_confirm_flow.py
app/verify_e2e.py

!app/routers/
app/routers/*
!app/routers/*.py

!app/static/
app/static/*
!app/static/*.js
!app/static/*.md

!app/templates/
app/templates/*
!app/templates/*.html

!app/templates/partials/
app/templates/partials/*
!app/templates/partials/*.html
